<h2>Office Locations</h3>

<div class="table-border">
<% if office_locations.present? %>
	<table class="table">
		<% office_locations.each do |office_location| %>
		  <% if @show_phone %>
			  <tr>
			    <td><%= office_location.phone %></td>
			  </tr>
			<% end %>
			<tr>
				<td><%= office_location.address.to_s %></td>
			</tr>
		<% end %>
	</table>
<% end %>
</div>
